<TabView 
androidTabsPosition="bottom"
androidSelectedTabHighlightColor="#7c015d"
selectedTabTextColor="#7c015d"
>
    <StackLayout *tabItem="{ title: 'Today ', iconSource: 'res://checklist'}">
        <page-router-outlet name="today"></page-router-outlet>
    </StackLayout>
    <StackLayout *tabItem="{ title: 'Current Challenge ', iconSource: 'res://trophy'}">
        <page-router-outlet name="currentChallenge"></page-router-outlet>
    </StackLayout>
    <!-- <page-router-outlet
    *tabItem="{title: 'Today'}" 
    name="today">
    </page-router-outlet>

    <page-router-outlet
    *tabItem="{title: 'Current Challenge'}" 
    name="currentChallenge">
    </page-router-outlet> -->



    <!-- <StackLayout 
    *tabItem="{title: 'Today'}" 
    name="today">
        
        <Label text="Tab 1" textWrap="true"></Label>
    
    </StackLayout>
    <StackLayout 
    *tabItem="{title: 'Current Challenge'}" 
    name="currentChallenge">
    
        <Label text="Tab 2" textWrap="true"></Label>
        
    </StackLayout> -->
</TabView>