FlexboxLayout{
    border-color: salmon;
    border-width: 5;
    padding: 10;
    height: 300;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 120;
}

Label {
    background:red;
    width: 50;
    height: 50;
}

#i1{
background-color: red;
}
#i2{
background-color: blueviolet;
}
#i3{
background-color: aquamarine;
}
