@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

Button.-primary {
  font-size: 18;
}

.btn{
  background: #7c015d;
  border-width: 1;
  border-color:#7c015d;
  color:white;
}

.drawer-container{
  background: linear-gradient(140deg, #2b0c72, #5c3fa0);
  width: 80%;
  horizontal-align:left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20;
}